* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  padding: 150px 0;
}

h3 {
  padding-bottom: 15px;
  font-size: 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

header {
  background-color: #FF6900;
  box-shadow: black;
  justify-content: space-between;
  z-index: 5;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

ul {
  display: flex;
  list-style: none;

}

ul li {
  margin-right: 15px;
}

ul li a {
  text-decoration: none;
  color: white;

}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;

}

ul li a:visited {
  text-decoration: none;
  color: white;

}

ul li a:hover {
  text-decoration: underline;
}

header img {
  height: 50px;

}

footer {
  padding: 30px 0px;
  background-color: #1A1A1A;
  color: white;
}

i {
  font-size: 1.5rem;

}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* UTILITY */
.bold {
  font-weight: bold;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.txt-red {
  color: red;
}

.txt-barred {
  text-decoration: line-through;
}

/*positions*/
.p-fixed {
  position: fixed;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.text-right {
  text-align: right;
}

/*flex utils */
.flex {
  display: flex;
}

.a-c-center {
  align-items: center;
}

.j-c-beetween {
  justify-content: space-between;
}

.j-c-end {
  justify-content: flex-end;
}

.j-c-center {
  justify-content: center;
}


.py-20 {
  padding: 20px 0;
}

.m-right-30 {
  margin-right: 30px;
}

.row {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.col {
  width: calc(100% / 3 - 30px);
}

.col-50 {
  width: 50%;
}