* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  padding: 150px 0;
}

h3 {
  padding-bottom: 15px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;

}

/* UTILITY */
.bold {
  font-weight: bold;
}

/*positions*/
.p-fixed {
  position: fixed;
}

.top-0 {
  top: 0px;
}

/*flex utils */
.flex {
  display: flex;
}

.a-c-center {
  align-items: center;
}

.j-c-beetween {
  justify-content: space-between;
}

/*paddings*/
.py-20 {
  padding: 20px;
}


/*CONTENT */
header {
  background-color: #FF6900;
  box-shadow: black;
  justify-content: space-between;
  z-index: 1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
}

ul {
  display: flex;
  list-style: none;

}

ul li {
  margin-right: 15px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5;
}

ul li a:visited {
  text-decoration: none;
  color: white;

}

ul li a:hover {
  text-decoration: underline;
}

header img {
  height: 50px;

}

footer {
  padding: 30px 0px;
  background-color: #1A1A1A;
  color: white;
}

i {
  font-size: 1.5rem;
}