/* UTILITY */
.bold {
  font-weight: bold;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.txt-red {
  color: red;
}

.txt-barred {
  text-decoration: line-through;
}

/*positions*/
.p-fixed {
  position: fixed;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.top-0 {
  top: 0px;
}

.text-right {
  text-align: right;
}

/*flex utils */
.flex {
  display: flex;
}

.a-c-center {
  align-items: center;
}

.j-c-beetween {
  justify-content: space-between;
}

.j-c-end {
  justify-content: flex-end;
}

.j-c-center {
  justify-content: center;
}


.py-20 {
  padding: 20px 0;
}

.m-right-30 {
  margin-right: 30px;
}

.row {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.col {
  width: calc(100% / 3 - 30px);
}

.col-50 {
  width: 50%;
}